:root {
  --heading-primary-font-family: "SF Pro", Helvetica;
  --heading-primary-font-weight: 700;
  --heading-primary-font-size: 32px;
  --heading-primary-letter-spacing: 0.12800000190734864px;
  --heading-primary-line-height: normal;
  --heading-primary-font-style: normal;
  --heading-secondary-bold-font-family: "SF Pro", Helvetica;
  --heading-secondary-bold-font-weight: 700;
  --heading-secondary-bold-font-size: 20px;
  --heading-secondary-bold-letter-spacing: 0.0800000011920929px;
  --heading-secondary-bold-line-height: normal;
  --heading-secondary-bold-font-style: normal;
  --heading-secondary-font-family: "SF Pro", Helvetica;
  --heading-secondary-font-weight: 400;
  --heading-secondary-font-size: 16px;
  --heading-secondary-letter-spacing: 0.06400000095367432px;
  --heading-secondary-line-height: normal;
  --heading-secondary-font-style: normal;
  --body-bold-font-family: "SF Pro", Helvetica;
  --body-bold-font-weight: 400;
  --body-bold-font-size: 16px;
  --body-bold-letter-spacing: 0.06400000095367432px;
  --body-bold-line-height: normal;
  --body-bold-font-style: normal;
  --body-font-family: "SF Pro", Helvetica;
  --body-font-weight: 400;
  --body-font-size: 16px;
  --body-letter-spacing: 0.06400000095367432px;
  --body-line-height: normal;
  --body-font-style: normal;
  --caption-font-family: "SF Pro", Helvetica;
  --caption-font-weight: 300;
  --caption-font-size: 14px;
  --caption-letter-spacing: 0.056000000834465026px;
  --caption-line-height: normal;
  --caption-font-style: normal;
  --small-font-family: "SF Pro", Helvetica;
  --small-font-weight: 300;
  --small-font-size: 12px;
  --small-letter-spacing: 0.04800000071525574px;
  --small-line-height: normal;
  --small-font-style: normal;
  --design-system-color-brand-pink: rgba(252, 163, 198, 1);
  --design-system-color-neutral-grey100: rgba(255, 255, 255, 1);
  --design-system-color-neutral-grey200: rgba(234, 234, 234, 1);
  --design-system-color-neutral-gery300: rgba(191, 191, 191, 1);
  --design-system-color-neutral-grey400: rgba(149, 149, 149, 1);
  --design-system-color-neutral-grey500: rgba(106, 106, 106, 1);
  --design-system-color-neutral-grey600: rgba(64, 64, 64, 1);
  --design-system-color-neutral-grey700: rgba(21, 21, 21, 1);
  --design-system-color-semantic-red: rgba(245, 34, 45, 1);
  --design-system-color-semantic-yellow: rgba(250, 173, 20, 1);
  --design-system-color-semantic-green: rgba(82, 196, 26, 1);
  --design-system-color-brand-pink-light: rgba(254, 224, 236, 1);
  --design-system-color-brand-pink-dark: rgba(250, 101, 160, 1);
}
